@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --primary: 0 84% 50%; /* #E41E26 Red */
    --border: 0 0% 0%;
  }
}

body {
  @apply bg-white text-black font-sans antialiased;
}

@layer utilities {
  .neo-border-thick {
    border: 3px solid black !important;
  }
  .neo-shadow-hard {
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1) !important;
  }
  .neo-shadow-red {
    box-shadow: 8px 8px 0px 0px #E41E26 !important;
  }
}